* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /* outline: 1px solid red; */
}

body {
  font-family: "Bricolage Grotesque", sans-serif;
}

.title {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.products {
    display: grid;
    place-items: center;
    min-height: 100vh;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    padding: 50px;
    padding-top: 10px;
}

.products p {
    font-size: 12px;
    margin-top: 30px;
}

.products h3 {
    font-size: 16px;
}

.items {
    margin-top:  20px;
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


.items img {
    width: 100%;
    height: 270px;
    border-radius: 10px;
}

button {
    background-color: white;
    color: #800000;
    padding: 10px 35px;
    margin: 0 auto;
  font-family: "Bricolage Grotesque", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 30px;
  border: 2px solid #800000;

}



.prices {
    color: #800000;
}


.main-button {
    align-items: center;
    justify-content: center;
}


.checkout {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: aqua;
    padding: 30px;
    width: 50%;
    margin: 0 auto;
}

.trolley {
    margin-top: 30px;
    padding: 20px, 30px;
}







.image-wrapper {
    position: relative;
    overflow: visible;
}

 .image-wrapper img {
    width: 100%;
    display: block;
} 

.add-to-cart {
    position: absolute;
    bottom: -27px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 8px;
    /* padding: 10px 18px; */
    
}

@media (max-width: 768px) {
    .products {
        grid-template-columns: repeat(1, 1fr);
    }


}
    